*
{
	font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

/*------Navigation-----*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
    
}
.navbar-brand img
{
    height: 80px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important;
}
.navbar
{
    background: #fff;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
    
}
/*-----about-----*/

#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
    
}
#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content
{
    padding-top: 20px;
    
}
.skills-bar p
{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress-bar
{
    border-radius: 16px;
}
.progress
{
    border-radius: 16px !important;
    margin-bottom: 20px;
}

/*-----Services-----*/
#services
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/services.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
#services h1
{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}
#services h1::after
{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
    
}
.services
{
    margin-top: 40px;
}
.icon
{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}

#services p
{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
.services .col-md-3:hover
{
    background: #FFA07A;
    cursor: pointer;
    transition: 0.3s;

}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 100;
  left: 0;
  background-color: #transparent;
  overflow-x: hidden;
  padding-top: 20px;
}


.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}



.sidenav a:hover, .dropdown-btn:hover {
  color: blue;
}

.main {
  margin-left: 200px; 
  font-size: 20px; 
  padding: 0px 10px;
}

.active {
  background-color: #transparent;
  color: blue;
}

.dropdown-container {
  display: none;
  background-color: #transparent;
  padding-left: 8px;
}
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




